*{
	outline: 2px dotted red;
	padding: 0px;
	margin: 10px;
}
#container{
	width: 100%
	height:100%;
}
h1{
	width: 100%
	height: 25%;
	font: 40px Arial, sans-serif;
	padding:5px; 
}
@media only screen and (max-width: 480px){


}
@media only screen and (max-width: 1024px){
	
}
@media only screen and (min-width: 1024px){
	
}